<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Name Form</title>
<!--    <script>-->
<!--        function sendAJAX(){-->
<!--            let userName = document.getElementById('nameInput').value;-->
<!--            let xhr = new XMLHttpRequest();-->
<!--            let endPoint = 'http://localhost:3000/trackName?name='+userName;-->
<!--            xhr.open('GET',endPoint,true);-->
<!--            console.log(userName);-->
<!--            xhr.onreadystatechange=function (){-->
<!--                if(xhr.readyState===4){-->
<!--                    if(xhr.status==200){-->
<!--                        document.getElementById('head_text').textContent=xhr.responseText;-->
<!--                    }-->
<!--                }-->
<!--            }-->
<!--            xhr.send();-->
<!--        }-->
<!--    </script>-->
</head>
<body>
<h1 id="head_text">請輸入名字</h1>
<form method="post" action="/trackName">
    <!-- Your form fields go here -->
    <label for="nameInput">你的名字是：</label>
    <input type="text" id="nameInput" name="name" required>
    <br>
    <br>
    <button type="submit" onclick="sendAJAX()">提交</button>
</form>
</body>
</html>